@font-face {
    font-family: Tajawal;
    src:url(../../../global/fonts/Tajawal-Regular.ttf)
  }

  .label,body,h1,h2,h3,h4,h5,h6 {
    font-family: Tajawal !important;
}
.btn-success {
    color: #FFF;
    background-color: #32c5d2;
    border-color: #32c5d2;
}

.form-control, .alert {
    direction: rtl;
}

.login .content{
    width: 450px;
   
}

.login .content .hint , .radio-list label{
    direction: rtl;
}
.login .content .create-account  {
    background-color: #eceef1;
}
.form .form-actions {
    padding: 20px 10px;
     margin: 0; 
     background-color: #eceef1; 
}
.btn-default{
    padding: 10px;
    margin: 5px;
}
.input-group-addon:first-child {
    border-right:1;
  }
  .page-bar .page-breadcrumb {
    display: inline-block;
    float: right;
    padding: 10px 6px;
    margin: 0;
    list-style: none;
}
@media (max-width: 440px) {
    .login .content {
        width: 370px;
    }
   
}
@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
        direction: rtl;
        padding-right: 7px;
    }
}